body {

display: flex;
flex-direction: row;
justify-content: center;
font-family: 'PT Sans', sans-serif, bold; /* Пусть горит в аду человек, 
 							 который придумал подключать каждый шрифт отдельно*/
margin: 0px;     /* при скроле видны косяки в работе с фигуррами, наверное, лучше убрать ползунки */                    
overflow: hidden;
background-color: #E4B28D 
}

.content {
	display: flex;
    flex-direction: row;
    
    margin-top: 8%;
    width: 1080px;
}

.form {
	display: flex;
    flex-direction: column;

    margin-top: 20px; 
}

h1 {
	margin-bottom:0; 
	width: 700px;
	font-size: 60px;
	color: white;
}

p {
	width: 700px;
	color: #ffffff;
	font-size: 25px;

	margin-top: 10px; 
    margin-bottom: 30px;
}

.avatar {
width: 400px;
height: 500px;
}

.info {
width: 690px;
height: 180px;
font-size: 30px;
line-height: 40px;
color: white;
}

/* фигуры не вбиты одной картинкой в фон, когда дойдёшь до анимаций с JS, займись ими*/
.fig-1 {     
	position: absolute;
width: 330px;
height: 330px;
left: -130px;
top: 500px;
}

.fig-2 {
	position: absolute;
width: 333px;
height: 333px;
left: 1115px;
top: 600px;
}

.fig-3 {
	position: absolute;
width: 930px;
left: 900px;
top: -350px;
}

.fig-4 {
	position: absolute;
width: 135px;
height: 125px;
left: 130px;
top: -5px;
}

.buttons{
    display: flex;
    flex-direction: row;
}

button{
    margin-right: 23px;
    border-radius: 10px;

	padding: 10px;    
    border: none;
    background-color: black;
    color: black;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.7));
}
/* !!!ПОГУГЛИ ПРАВИЛЬНЫЙ ПОРЯДОК СВОЙСТВ ДЛЯ CSS ПРАВИЛ!!!*/
a {
	text-decoration: none;
	color: white !important;

	font-size: 20px;		
}

.avatar{
	margin-left: 80px;
}